// ==============================
// Custom style
// 自定义样式
// ==============================

header {
  .logo {
      min-width: 1.5em;
      width: 1.5em;
  }
  .logo, .header-title-pre {
      padding-right: 1.25rem;
  }
}